.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  color: gray;
  margin-top: 16px;
}

.messagesContainer{
  margin-top: 30px;
}

.messagesHeader {
  display: flex;
  justify-content: center;
}

.waveButton {
  cursor: pointer;
  margin: 16px 0 16px 0;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  
}

.spinnerContainer {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 20;
}